*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif

body
    height: 100vh

.header
    position: absolute
    top: 0
    left: 0
    width: 100%

    &-inner
        padding-top: 20px
        height: 60px
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        font-size: 30px

.container
    width: 80%
    margin: 0 auto

.wrap
    width: 100%
    height: 100vh   
    display: flex
    align-items: center
    justify-content: center
    

.form
    width: 90%
    max-width: 250px

    &__title
        margin-bottom: 15px
        font-weight: 700

    &__registration
        font-size: 11px
    
    &_auth
        position: relative
        top: 40%
        left: 40%

    &_edit
        margin: 40px

input
    display: block
    border: none
    border: 1px solid #ccc
    border-radius: 15px
    width: 100% 
    padding: 10px
    height: 40px

    &:not(:last-child)
        margin-bottom: 10px

button
    border: none
    border: 1px solid #ccc
    border-radius: 5px 
    padding: 5px
    display: inline-block


.training
    width: 90%  
    max-width: 300px

    &-mode
        & p
            display: inline

    &__task
        font-size: 30px
        font-weight: 900
 